<!-- <body>
  <div class="container">
    <header class="header">
      <h1>Seja bem-vindo {{usuario.Nome}}</h1>
    </header>

    <aside class="left">      
      <ul>
        <button type="button" class="btn btn-outline-success" routerLink="/FlashCard">Meus cartões</button>        
      </ul>
      <br><br>            
    </aside>
    <main class="content">
      <h2>About Me</h2>
      <p>I don't look like some handsome horse, but I am a real desert king. I can survive days without water.</p>
      <h2>My Career</h2>
      <p>I work as a web developer for a company that makes websites for camel businesses.</p>
      <hr><br>
      <h2>How Can I Help You?</h2>
      <table>
        <tr>
          <th>SKILL 1</th>
          <th>SKILL 2</th>
          <th>SKILL 3</th>
        </tr>
        <tr>
          <td><i class="fas fa-broom"></i></td>
          <td><i class="fas fa-archive"></i></td>
          <td><i class="fas fa-trailer"></i></td>
        </tr>
        <tr>
          <td>Cleaning kaktus in your backyard</td>
          <td>Storing some fat for you</td>
          <td>Taking you through the desert</td>
        </tr>
        <tr>
      </table>      
    </main>
    <footer class="footer">&copy; Copyright Mr. Camel</footer>
  </div>
</body>
 -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>FlashCard</title>
</head>
<body>
  <header class="cabecalho">
    <nav class="cabecalho-menu">
      <button class="cabecalho-menu-botao" routerLink="FlashCard">Login</button>
      <button class="cabecalho-menu-botao" routerLink="Usuario">Inscreva-se</button>      
    </nav>
  </header>

  <main class="conteudo">
    <section class="conteudo-principal">
      <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Flash cards</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Cartões inteligentes</h2>        
      </div>
    </section>
    <section class="conteudo-secundario">
      <h3 class="conteudo-secundario-titulo">Estude com Flash Cards</h3>
      <p class="conteudo-secundario-paragrafo"><Strong>Crie</Strong> seus próprios cartões de perguntas e respostas.</p>
      <p class="conteudo-secundario-paragrafo"><strong>Revise</strong> o conteúdo de forma rápida.</p>
      <p class="conteudo-secundario-paragrafo"><strong>Se desafie</strong> com o conteúdo!</p>
    </section>
  </main>

  <footer class="rodape">
    
  </footer>
 
</body>
</html>